In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
from ipywidgets import widgets
from sklearn.model_selection import train_test_split

# Cargar dataset
df_partidos = pd.read_csv('datos_cebollitas.csv')

df_partidos['diferencia_goles'] = df_partidos['goles_local'] - df_partidos['goles_visitante']
df_partidos['ratio_tiros_posesion_local'] = df_partidos['tiros_arco_local'] / df_partidos['posesion_local (%)']

df_partidos.head()

,fecha_partido,equipo_local,equipo_visitante,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio,diferencia_goles,ratio_tiros_posesion_local
0,2023-01-01,Atlético Python,Cebollitas FC,2,0,54,46,12,6,Python Arena,2,0.222222
1,2023-01-08,NumPy City,Atlético Python,1,5,60,40,12,3,Estadio ML,-4,0.200000
2,2023-01-15,Cebollitas FC,Data United,1,0,55,45,10,7,Python Arena,1,0.181818
3,2023-01-22,Atlético Python,Data United,2,3,57,43,3,3,Campo Pandas,-1,0.052632
4,2023-01-29,Data United,Cebollitas FC,5,3,52,48,7,12,Estadio ML,2,0.134615

In [2]:
sliter_test_sixe = widgets.FloatSlider(
    value=0.2,min=0.1,max=0.5,step=0.05,
    description='Test Size:',continuous_update=False
)
display(sliter_test_sixe)

FloatSlider(value=0.2, continuous_update=False, description='Test Size:', max=0.5, min=0.1, step=0.05)

In [3]:
def dividir_datos(test_size):
    x = df_partidos[['posesion_local (%)', 'tiros_arco_local', 'goles_local']]
    y = df_partidos['diferencia_goles']

    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=test_size, random_state=42)

    print(f'Tamaño del conjunto de entrenamiento: {X_train.shape[0]} muestras')
    print(f'Tamaño del conjunto de prueba: {X_test.shape[0]} muestras')

    return X_train, X_test, y_train, y_test

widgets.interactive(dividir_datos, test_size=sliter_test_sixe)

interactive(children=(FloatSlider(value=0.5, continuous_update=False, description='Test Size:', max=0.5, min=0…

In [4]:
X_train, X_test, y_train, y_test = train_test_split(
    df_partidos[['posesion_local (%)', 'tiros_arco_local', 'goles_local']],
    df_partidos['diferencia_goles'],
    test_size=0.2,
    random_state=42
)

print("conjunto de entrenamiento:")
display(X_train.head())

print("conjunto de prueba:")
display(X_test.head())

conjunto de entrenamiento:

    posesion_local (%)  tiros_arco_local  goles_local
55                  51                 6            4
88                  54                 9            0
26                  53                 4            3
42                  52                 4            2
69                  60                 9            1

conjunto de prueba:

    posesion_local (%)  tiros_arco_local  goles_local
83                  47                 3            3
53                  60                 3            4
70                  50                 5            2
45                  57                 7            5
44                  45                 5            5